@import "../../variables/spacing";
// === TEAM DETAIL ===
section.data {
  padding-top: @base;
  padding-bottom: @base;
  article {
    padding-top: @small;
    padding-bottom: @small;
  }
}
#win-loss-chart {
  margin: 0 auto;
}
