<article>

	<h2>Wins v. Losses</h2>

	<form>
	  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
	  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
	</form>

	<div class="<%= team %> win-loss"></div>

</article>
