<nav>
	<a href="/"><h1>Logo</h1></a>
	<ul>
		<a href="/original-six/blackhawks"><li>Blackhawks</li></a>
		<a href="/original-six/bruins"><li>Bruins</li></a>
		<a href="/original-six/canadiens"><li>Canadiens</li></a>
		<a href="/original-six/mapleleafs"><li>Maple Leafs</li></a>
		<a href="/original-six/rangers"><li>Rangers</li></a>
		<a href="/original-six/redwings"><li>Red Wings</li></a>
	</ul>
</nav>
