<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    {{!-- Google Fonts --}}
    <link href='https://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'>
    {{!-- <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'> --}}

    {{!-- Stylesheets --}}
    <link rel='stylesheet' href='../stylesheets/style.css'/>
    <link rel='stylesheet' href='../stylesheets/original-six.css'/>

    {{!-- Scripts --}}
    {{!-- D3 Library CDN --}}
    <script src='http://d3js.org/d3.v3.min.js'></script>

    {{!-- jQuery --}}
    <script src='../javascripts/vendor/jquery-1.11.3.min.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>



{{!--
    <script src='/javascripts/plotWinsLosses.js'></script>
    <script src='/javascripts/plotGoals.js'></script>

    --}}
