<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/head %>
  </head>
  <body>
	  <%- include ./partials/nav %>
	  <article class="all-teams">
	  	<h1 class="title"><%= title %></h1>

	  	<a href="/avalanche">
			  <div class="team col">
			  	<h2>Avalanche</h2>
			  </div>
		  </a>
		  <a href="/blackhawks">
			  <div class="team chi">
			  	<h2>Blackhawks</h2>
			  </div>
		  </a>
		  <a href="/blue%20jackets">
			  <div class="team cbj">
			  	<h2>Blue Jackets</h2>
			  </div>
		  </a>
		  <div class="team stl">
		  	<h2>Blues</h2>
		  </div>
		  <div class="team bos">
		  	<h2>Bruins</h2>
		  </div>
		  <div class="team mtl">
		  	<h2>Canadiens</h2>
		  </div>
		  <div class="team van">
		  	<h2>Canucks</h2>
		  </div>
		  <div class="team wsh">
		  	<h2>Capitals</h2>
		  </div>
		  <div class="team ari">
		  	<h2>Coyotes</h2>
		  </div>
		  <div class="team njd">
		  	<h2>Devils</h2>
		  </div>
		  <div class="team ana">
		  	<h2>Ducks</h2>
		  </div>
		  <div class="team cgy">
		  	<h2>Flames</h2>
		  </div>
		  <div class="team phi">
		  	<h2>Flyers</h2>
		  </div>
		  <div class="team car">
		  	<h2>Golden Seals</h2>
		  </div>
		  <div class="team nyi">
		  	<h2>Islanders</h2>
			</div>
			<div class="team wpg">
		  	<h2>Jets</h2>
			</div>
		  <div class="team lak">
		  	<h2>Kings</h2>
		  </div>
		  <div class="team tbl">
		  	<h2>Lightning</h2>
		  </div>
		  <div class="team tor">
		  	<h2>Maple Leafs</h2>
		  </div>
		  <div class="team edm">
		  	<h2>Oilers</h2>
		  </div>
		  <div class="team fla">
		  	<h2>Panthers</h2>
		  </div>
		  <div class="team pit">
		  	<h2>Penguins</h2>
		  </div>
		  <div class="team nsh">
		  	<h2>Predators</h2>
		  </div>
		  <div class="team nyr">
		  	<h2>Rangers</h2>
		  </div>
		  <div class="team det">
		  	<h2>Red Wings</h2>
		  </div>
		  <div class="team buf">
		  	<h2>Sabres</h2>
		  </div>
		  <div class="team ott">
	  	<h2>Senators</h2>
		  </div>
		  <div class="team sjs">
		  	<h2>Sharks</h2>
			</div>
			<div class="team dal">
				<h2>Stars</h2>
			</div>
			<div class="team atl">
				<h2>Thrashers</h2>
			</div>
			<div class="team min">
				<h2>Wild</h2>
			</div>
		</article>
  </body>
	<script type="text/javascript">
		$('.team').on('click', function() {
			console.log('team clicked');
			console.log('data: ' + this.name);
		});
	</script>
</html>








