<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/og_head %>
  </head>
  <body class="layout-page-wrap">
    <main class="layout-content-wrap">
      <h1 class="h1"><%= title %></h1>
      <article class="all-teams">
        <a  class="h2 team chi" href="/original-six/blackhawks">Blackhawks</a>
        <a class="h2 team bos" href="/original-six/bruins">Bruins</a>
        <a class="h2 team mtl" href="/original-six/canadiens">Canadiens</a>
        <a class="h2 team tor" href="/original-six/mapleleafs">Maple Leafs</a>
        <a class="h2 team nyr" href="/original-six/rangers">Rangers</a>
        <a class="h2 team det" href="/original-six/redwings">Red Wings</a>
      </article>
      <article class="blackhawks">
        <h2></h2>
      </article>
      <article class="bruins">
        <h2></h2>
      </article>
      <article class="canadiens">
        <h2></h2>
      </article>
      <article class="mapleleafs">
        <h2></h2>
      </article>
      <article class="rangers">
        <h2></h2>
      </article>
      <article class="redwings">
        <h2></h2>
      </article>
    </main>
    <%- include ./partials/footer %>
  </body>
  <script>
    $(document).ready(function(){
      $.ajax({
        method: 'get',
        url: '/api/six %>',
        dataType: 'json',
        success: function(data){
          console.log(data);
        }
      });
    });
  </script>
</html>

