// IMPORT VARIABLES FILE
@import "variables";
@import "mixins";

// LESS STYLES
.original-six {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	a {
		text-decoration: none;
		.team {
			width: 200px;
			height: 100px;
			margin: 5px;
			text-align: center;
			.Border;
		}
		h1 {
			.Title;
			line-height: 100px;
		}
		.chi {
			color: @chi-2;
			background-color: @chi-1;
		}
		.chi:hover {
			color: @chi-1;
			background-color: @chi-2;
			.BackgroundTransition;
		}
		.bos {
			color: @bos-2;
			background-color: @bos-1;
		}
		.bos:hover {
			color: @bos-1;
			background-color: @bos-2;
			.BackgroundTransition;
		}
		.mtl {
			color: @mtl-2;
			background-color: @mtl-1;
		}
		.mtl:hover {
			color: @mtl-1;
			background-color: @mtl-2;
			.BackgroundTransition;
		}
		.tor {
			color: @tor-2;
			background-color: @tor-1;
		}
		.tor:hover {
			color: @tor-1;
			background-color: @tor-2;
			.BackgroundTransition;
		}
		.nyr {
			color: @nyr-2;
			background-color: @nyr-1;
		}
		.nyr:hover {
			color: @nyr-1;
			background-color: @nyr-2;
			.BackgroundTransition;
		}
		.det {
			color: @det-2;
			background-color: @det-1;
		}
		.det:hover {
			color: @det-1;
			background-color: @det-2;
			.BackgroundTransition;
		}
	}
}
