// IMPORT VARIABLES FILE
@import "variables";
@import "mixins";

.all-teams {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	.title {
		width: 100%;
	}
	.team {
		width: 150px;
		height: 100px;
		margin: 5px;
		text-align: center;
		color: @white;
		background-color: @black;
		.Border;
		h2 {
			line-height: 100px;
		}
	}
}
