// FONT VARIABLES
@roboto: 'Roboto', Impact, sans-serif;
@play: 'Play', Helvetica, sans-serif;


// COLOR VARIABLES
@black: #000;
@white: #FFF;

// Colorado Avalanche
@col-1: #8B2942;
@col-2: #01548A;
@col-3: #A9B0B8;

// Chicago Blackhawks
@chi-1: #E3263A;
@chi-2: @black;
@chi-3: @black;

// Columbus Blue Jackets
@cbj-1: #00285C;
@cbj-2: #E03A3E;
@cbj-3: #A9B0B8;

// St Louis Blues
@stl-1: #0546A0;
@stl-2: #FFC325;
@stl-3: #101F48;

// Boston Bruins
@bos-1: @black;
@bos-2: #FFC422;
@bos-3: @white;

// Washington Capitals
@wsh-1: #CF132B;
@wsh-2: #00214E;
@wsh-3: @black;

// Montreal Canadiens
@mtl-1: #BF2F38;
@mtl-2: #213770;
@mtl-3: @white;

// Vancouver Canucks
@van-1: #07346F;
@van-2: #047A4A;
@van-3: #A8A9AD;

// @van-3: #A8A9AD;

// Arizona Coyotes
@ari-1: #841F27;
@ari-2: #EFE1C6;
@ari-3: @black;

// New Jersey Devils
@njd-1: #E03A3E;
@njd-2: @black;
@njd-3: @white;

// Anaheim Ducks
@ana-1: @black;
@ana-2: #91764B;
@ana-3: #EF5225;

// Calgary Flames
@cgy-1: #E03A3E;
@cgy-2: #FFC758;
@cgy-3: @black;

// Philadelphia Flyers
@phi-1: #F47940;
@phi-2: @black;
@phi-3: @white;

// California Golden Seals
@car-1: #13BF00;
@car-2: #FFCA00;
@car-3: @white;

// New York Islanders
@nyi-1: #00529B;
@nyi-2: #F57D31;
@nyi-3: @white;

// Winnipeg Jets
@wpg-1: #002E62;
@wpg-2: #0168AB;
@wpg-3: #A8A9AD;

// Los Angeles Kings
@lak-1: @black;
@lak-2: #AFB7BA;
@lak-3: @white;

// Tampa Bay Lightning
@tbl-1: #013E7D;
@tbl-2: @black;
@tbl-3: #C0C0C0;

// Toronto Maple Leafs
@tor-1: #003777;
@tor-2: @white;
@tor-3: #002249;

// Edmonton Oilers
@edm-1: #003777;
@edm-2: #E66A20;
@edm-3: @white;

// Florida Panthers
@fla-1: #C8213F;
@fla-2: #002E5F;
@fla-3: #D59C05;

// Pittsburgh Penguins
@pit-1: @black;
@pit-2: #D1BD80;
@pit-3: @white;

// Nashville Predators
@nsh-1: #FDBB2F;
@nsh-2: #002E62;
@nsh-3: @white;

// New York Rangers
@nyr-1: #0161AB;
@nyr-2: #E6393F;
@nyr-3: @white;

// Detroit Red Wings
@det-1: #EC1F26;
@det-2: @white;
@det-3: #B11200;

// Buffalo Sabres
@buf-1: #002E62;
@buf-2: #FDBB2F;
@buf-3: #AEB6B9;

// Ottawa Senators
@ott-1: #E4173E;
@ott-2: @black;
@ott-3: #D69F0F;

// San Jose Sharks
@sjs-1: #05535D;
@sjs-2: #F38F20;
@sjs-3: @black;

// Dallas Stars
@dal-1: #006A4E;
@dal-2: #C0C0C0;
@dal-3: @black;

// Atlanta Thrashers
@atl-1: #0F00BF;
@atl-2: #FFCC00;
@atl-3: @white;

// Minnesota Wild
@min-1: #025736;
@min-2: #BF2B37;
@min-3: #EFB410;


