@import "../../mixins/font";

// === TITLES ===
// === === === === === === === === === ===
h1, h2, h3, h4, h5, h6, a, label, label>span, .h1, .h2, .h3, .h4, .h5, .h6 {
  .Title;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, {}
.h1, .h2, .h3, .h4, .h5, .h6 {}

h1, .h1 { font-size: 32px; }
h1 {}
.h1 {}

h2, .h2 { font-size: 28px; }
h2 {}
.h2 {}

h3, .h3 { font-size: 24px; }
h3 {}
.h3 {}

h4, .h4 { font-size: 20px; }
h4 {}
.h4 {}

h5, .h5 { font-size: 16px; }
h5 {}
.h5 {}

h6, .h6 {
  font-size: 12px;
  text-transform: uppercase;
}
h6 {}
.h6 {}

a { text-decoration: none; }
